.notes-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  margin: 60px 170px 60px 190px;
  min-height: 80vh;
  max-width: 90vw;
  gap: 1rem;
}

.notes-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.note-text,
.note-book {
  font-size: 1rem;
}

.note-book {
  color: var(--primary-color);
}

.newnote-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
  max-width: 200px;
}

.newnote-btn:hover {
  background-color: var(--primary-color) !important;
  color: var(--clear-color) !important;
}

.edit-btn {
  margin-right: 12px;
}

.delete-btn,
.edit-btn {
  color: var(--secondary-color);
  cursor: pointer;
  background-color: var(--primary-color);
  padding: 0.5em;
  border-radius: 10px;
}

.edit-btn:hover,
.delete-btn:hover {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
}

@media (max-width: 768px) {
  .notes-container {
    margin: 40px 10px 40px 70px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 2rem;
    word-break: break-word;
  }

  .ant-drawer-content-wrapper {
    width: 90% !important;
  }
}
