.notes-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 60px 170px 60px 190px;
    min-height: 80vh;
    max-width: 90vw;
    gap: 1rem;
}

.note-text, .note-book {
    font-size: 1rem;
}

.note-book {
    color: var(--primary-color);
}

.book-cover {
    width: 100px;  /* Imposta la larghezza desiderata */
    height: auto;  /* Mantiene la proporzione dell'immagine */
    margin-top: 10px;
  }